<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>售票資訊</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/partner_sidebar.css">
    <link rel="icon" href="/images/icon.ico">
    <style>
        * {
            box-sizing: border-box;
        }

        /* 本文區塊 */
        #main{
            /* border: 1px solid red; */
            position: fixed; /* 固定位置，隨著螢幕滾動 */
            top: 20px; /* 距離螢幕頂部 0px */
            right: 0; /* 距離螢幕右邊 0px */
            height: 100vh; /* 高度佔滿整個螢幕視窗 */
            width: calc(100% - 250px); /* 區塊寬度為 200px */
        }
        
        /* 本文標題 */
        #main #title{
            text-align: center;
        }

        #example_wrapper {
            margin: 1rem 2rem 2rem 2rem;
        }
    </style>
</head>
<body>
    <div id="sidebar-placeholder"></div>
    
    <div id="main">
        <h1 id="title"><strong>售票資訊</h1>
        
        <table id="example" class="display" style="width: 100%">
            <thead>
                <tr style="background-color: #E18D96">
                    <th></th>
                    <th>編號</th>
                    <th>名稱</th>
                    <!-- <th>起售日</th> -->
                    <th>場館</th>
                    <th>類型標籤</th>
                    <th>場次</th>
                    <!-- <th>設定狀態</th> -->
                    <th>設定</th>
                </tr>
            </thead>
                
            <tbody>
                <th:block th:each="activity : ${partnerActivityListData}">
                    <tr>
                        <td th:text="${activityStat.count}"></td>
                        <td th:text="${activity.activityID}"></td>
                        <td th:text="${activity.activityName}"></td>
                        <!-- <td th:text="${activity.sellTime}"></td> -->
                        <td th:text="${activity.venue.venueName}"></td>
                        <td th:text="${activity.activityTag}"></td>
                        <form method="post" th:action="@{/seatReservationAndPricing}" style="margin-bottom: 0px;">
                            <td>
                                <select name="activityTimeSlotID">
                                    <option th:each="activityTimeSlot : ${activity.activityTimeSlots}" 
                                            th:value="${activityTimeSlot.activityTimeSlotID}">
                                        <th:block th:switch="${activityTimeSlot.activityTimeSlot}">
                                            <span th:case="1" th:text="${activityTimeSlot.activityTimeSlotDate} + '10:00'"></span>
                                            <span th:case="2" th:text="${activityTimeSlot.activityTimeSlotDate} + '14:00'"></span>
                                            <span th:case="3" th:text="${activityTimeSlot.activityTimeSlotDate} + '18:00'"></span>
                                        </th:block>
                                    </option>
                                </select>
                            </td>
                            <!-- <td th:switch="${activity.ticketSetStatus}">
                                <div th:case="0">未設定</div>
                                <div th:case="1">已設定</div>
                            </td> -->
                            <td>
                                <input type="submit" value="設定">
                                <input type="hidden" name="activityID" th:value="${activity.activityID}">
                            </td>
                        </form>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    
    
    <script src="/js/partner.js"></script>
    <script src="/js/partner_sidebar.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
    <script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css"/>  <!-- ●●css for jquery datatables 用 -->
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "lengthMenu": [3 ,5, 10, 20, 50, 100],
                "searching": true,  //搜尋功能, 預設是開啟
                "paging": true,     //分頁功能, 預設是開啟
                "ordering": true,   //排序功能, 預設是開啟
                "language": {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "zeroRecords": "沒有符合的結果",
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "aria": {
                        "sortAscending":  ": 升冪排列",
                        "sortDescending": ": 降冪排列"
                    }
                }
            });
        });
    </script>
</body>
</html>