<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link th:href="@{/css/header_footer.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- footer.html -->
<div class="footer">
    <div class="footer-content">
        <div class="footer-section contact-info">
            <p>地址：台北市信義區信義路五段7號88樓</p>
        </div>
        <div class="footer-section contact-info">
            <p>電話：(02) 1234-5678</p>
        </div>
        <div class="footer-section contact-info">
            <p>Email：service@articket.com.tw</p>
        </div>
        <div class="footer-section social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="footer-section copyright">
        <p>&copy; 2024 articket. All Rights Reserved.</p>
    </div>
</div>

</body>
</html>