/* 場館介紹頁面的CSS樣式 */
.content-wrapper {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
	background-color: #f8f9fa;
	padding: 30px;
	border-radius: 8px;
}

header h1 {
	font-size: 2.5rem;
	color: #333;
	font-weight: bold; /* 添加這一行使標題變為粗體 */
}

header p {
	font-size: 1.2rem;
	color: #555;
}

.venue-section {
	margin-bottom: 40px;
}

.venue-title {
	font-size: 2rem;
	color: #333;
	font-weight: bold; /* 添加這一行 */
}

.venue-description {
	font-size: 1rem;
	line-height: 1.6;
	color: #666;
}

.content-wrapper .contact-info {
	background-color: #333;
	color: white;
	padding: 20px;
	border-radius: 8px;
}

.display-4 {
	font-weight: bold !important;
}