<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>後台管理頁面</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/admin_sidebar.css">
</head>

<body>
	<div id="sidebar-placeholder"></div>
		
	<script src="/js/admin.js"></script>
	<script src="/js/admin_sidebar.js"></script>

</body>



</html>